<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swiftris.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1F4C461D455AA00051289B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1F4C5E1D455AA10051289B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1F4C691D455AA10051289B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
